

img {
    height: 25px;
}

.bg-nav
{
    background-color: #00a2e8;
}

#wrapper {
	margin-top : 28px !important;
}

video {
    width: 100% !important;
    height: auto !important;
}

.nav-link{
	font-weight: bold;
	color:#000;
}

.tab-pane {
	overflow-y: scroll;
	height: 220px;
}

#infoPanel {
	margin-top: 5px !important;
	margin-right: 5px !important;
}

.method{
	background-color:#999;
	color:#fff;
}

.responseSuccess{
	background-color:#5cb85c;
	color:#fff;
}

.responseWarning{
	background-color:#f0ad4e;
	color:#fff;
}

.responseError{
	background-color:#d9534f;
	color:#fff;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 450px;
    width: 0;
    height: 100%;
    margin-right: -450px;
    overflow-y: auto;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 5px !important;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 450px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 450px;
    }
    
    #sidebar-wrapper {
        width: 450px;
    }
   
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
}